{{@data}}
<div class="dash1" id="dash">
    <input type="hidden" value="{{user.idrol}}" id="rolUser">
    <a href="/home">
        <h1>Sistema de Pedidos</h1>
    </a>
    <div class="dash-modules">
        <a href="/clientes">Clientes <img src="/Imagenes/clientes.jpg"></a>
    </div>
    <div class="dash-modules">
        <a href="/producto">Productos <img src="/Imagenes/shoes.png"></a>
    </div>
    <div class="dash-modules">
        <a href="/trabajadores">Trabajadores <img src="/Imagenes/trabajador.jpg"></a>
    </div>
    <div class="dash-modules">
        <a href="/pedidos">Pedidos <img src="/Imagenes/pedidos.png"></a>
    </div>
    <div class="dash-modules">
        <a href="/detalle">Reportes <img src="/Imagenes/report.png"></a>
    </div>
    <div class="dash-modules">
        <a href="/login/logout">Cerrar Sesión <img src="/Imagenes/cerrar.jfif"></a>
    </div>
</div>