<div class="modal animate__animated" id="modalTalla" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle"
    aria-modal="true" role="dialog" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="background-color: #b4d8e7;">
            <div class="modal-header">
                <h1 class="modal-title"><b>SERIES</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="close" aria-label="Close"></button>
            </div>
            <div class=" modal-body">
                <div class="row aling-items-start">
                    <div class="col">
                        <div class="mb-3">
                            <label class="visually-hidden" for="specificSizeInputGroupUsername">T-34</label>
                            <div class="input-group">
                                <div class="input-group-text">34</div>
                                <input type="input" class="form-control" id="small" name="small" placeholder="T-34"
                                    maxlength="1">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="visually-hidden" for="specificSizeInputGroupUsername">T-35</label>
                            <div class="input-group">
                                <div class="input-group-text">35</div>
                                <input type="input" class="form-control" id="chico" name="chico" placeholder="T-35"
                                    maxlength="1">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="visually-hidden" for="specificSizeInputGroupUsername">T-36</label>
                            <div class="input-group ">
                                <div class="input-group-text">36</div>
                                <input type="input" class="form-control" id="pequeno" name="pequeno" placeholder="T-36"
                                    maxlength="1">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="visually-hidden" for="specificSizeInputGroupUsername">T-37</label>
                            <div class="input-group ">
                                <div class="input-group-text">37</div>
                                <input type="input" class="form-control" id="mediano" name="mediano" placeholder="T-37"
                                    maxlength="1">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="visually-hidden" for="specificSizeInputGroupUsername">T-38</label>
                            <div class="input-group ">
                                <div class="input-group-text">38</div>
                                <input type="input" class="form-control" id="grande" name="grande" placeholder="T-38"
                                    maxlength="1">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="visually-hidden" for="specificSizeInputGroupUsername">T-39</label>
                            <div class="input-group ">
                                <div class="input-group-text">39</div>
                                <input type="input" class="form-control" id="muygrande" name="muygrande"
                                    placeholder="T-39" maxlength="1">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="visually-hidden" for="specificSizeInputGroupUsername">T-40</label>
                            <div class="input-group ">
                                <div class="input-group-text">40</div>
                                <input type="input" class="form-control" id="gigante" name="gigante" placeholder="T-40"
                                    maxlength="1">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="/Imagenes/shoes.png" alt="imagen" class="img-fluid mt-50">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="agregarTalla">Agregar</button>
            </div>
        </div>
    </div>
</div>