<div class="principal">
    <div class="principal-header">
        <h3 class="principal-letra">BIENVENIDO A LINDA CALZADOS</h3>
        <a href="login/log">login up</a>
    </div>
</div>
<div class="nav-major">
    <center><img src="/Imagenes/Pantalla_Principal.png"></center>
</div>

{{>talla}}