<div class="nav-login">
    <img src="/Imagenes/logo.png">
</div>
<div class="login">
    <div class="login-header">
        <h2>Bievenidos al Sistema de Pedidos Linda Calzados</h2>
    </div>
    <div class="login-form">
        <form action="/login/sig" method="post">
            <h3>Usuario:</h3>
            <input type="text" placeholder="Username" name="username" id="username" /><br>
            <h3>Contraseña:</h3>
            <input type="password" placeholder="Password" id="password" name="password" /><br>
            <button type="submit" class="login-button">LOGIN</button>
        </form>

    </div>
</div>
</div>