<div class="contenedor-dash">
    <div class="dash">
        {{>menu-dash}}
        <div class="dash2" id="dash2">

            <div class="menu">
                <h1><i class="fa-solid fa-bars" id="btnmenu"></i> Productos</h1>
            </div>
            
            <hr>
            {{#if isAdmin}}
            <a class="link" href="producto/agregar"> <i class="fa-solid fa-circle-plus"></i> Agregar</a>
            {{/if}}
            <h2>Administrar Información de los Productos</h2>
            {{>mesage}}

            <form>
                <input type="text" name="search" id="search" placeholder="Search">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            </form>
            
            <div id="contenedortableproducto" class="contenedortablescroll"></div>
        
        </div>
    </div>
</div>

<script src="/js/searchproduct.js"></script>