<div class="contenedor-dash">
    <div class="dash">
        {{>menu-dash}}
        <div class="dash2" id="dash2">
            <div class="menu">
                <h1><i class="fa-solid fa-bars" id="btnmenu"></i> Pedidos</h1>

            </div>
            <hr>

            {{#if isAdmin}}
            <a class="link" href="/pedidos/agregar"> <i class="fa-solid fa-circle-plus"></i> Agregar </a>
            {{/if}}
            {{#if isJefatura}}
            <a class="link" href="/pedidos/agregar"> <i class="fa-solid fa-circle-plus"></i> Agregar </a>
            {{/if}}

            <h2>Administrar Información de los Pedidos</h2>

            <form>
                <input type="text" name="search" id="search" placeholder="Search">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            </form>


            <div id="contenedortablepedido" class="contenedortablescroll"></div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="/js/searchpedido.js"></script>